<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>
<body>
Specify greeting ID and new author:
<br>
<form method="post" action="/update-author">
    <label for="greetingId">greeting ID</label>
    <input id="greetingId" name="greetingId" type="text">
    <br>
    <label for="authorName">author name</label>
    <input id="authorName" name="authorName" type="text">
    <br>
    <input type="submit" value="Submit">
    <br>
    <a href="/">Back</a>
</form>
</body>
</html>