<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>
<body>
Login with credentials from <pre>\ExampleApp\Infrastructure\Adapter\Config\ConfigAdapter</pre>
<br>
<form method="post" action="/process-login">
    <label for="username">Username</label>
    <input id="username" name="username" type="text">
    <br>
    <label for="password">Password</label>
    <input id="password" name="password" type="password">
    <br>
    <input type="submit" value="Submit">
    <br>
    <a href="/">Back</a>
</form>
</body>
</html>